<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.martinmimigames.littlemusicplayer"
  a:versionCode="10"
  a:versionName="2.8">

  <uses-permission a:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission a:name="android.permission.FOREGROUND_SERVICE" />

  <application
    a:icon="@drawable/ic_launcher"
    a:label="Little Music Player"
    a:resizeableActivity="true"
    a:restoreAnyVersion="true"
    a:theme="@style/app_theme"
    tools:targetApi="n">

    <activity
      a:name=".MainActivity"
      a:exported="true">
      <intent-filter>
        <action a:name="android.intent.action.MAIN" />
        <category a:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <receiver
      a:name=".SessionBroadcastControl"
      a:exported="true">
      <intent-filter>
        <action a:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>

    <service
      a:name=".Service"
      a:exported="false" />

    <activity
      a:name=".ServiceControl"
      a:exported="true"
      a:excludeFromRecents="true">
      <intent-filter tools:ignore="AppLinkUrlError">
        <action a:name="android.intent.action.VIEW" />
        <action a:name="android.intent.action.SEND" />

        <category a:name="android.intent.category.DEFAULT" />

        <data a:mimeType="audio/*" />
        <data a:mimeType="video/*" />
      </intent-filter>
    </activity>
  </application>
</manifest>