<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.martinmimigames.littlemusicplayer"
          a:versionCode="15"
          a:versionName="2.13">

  <uses-permission a:name="android.permission.POST_NOTIFICATIONS"/>
  <uses-permission a:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission a:name="android.permission.INTERNET"/>
  <uses-permission a:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission a:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
  <uses-permission a:name="android.permission.READ_MEDIA_VIDEO"/>
  <uses-permission a:name="android.permission.READ_MEDIA_AUDIO"/>

  <application
    a:icon="@drawable/ic_launcher"
    a:label="Little Music Player"
    a:resizeableActivity="true"
    a:restoreAnyVersion="true"
    a:theme="@style/app_theme"
    a:usesCleartextTraffic="true"
    tools:targetApi="n">

    <receiver
      a:name=".HWListener"
      a:exported="true">
      <intent-filter>
        <action a:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>

    <service
      a:name=".Service"
      a:exported="false"
      a:foregroundServiceType="mediaPlayback"/>

    <activity
      a:name=".Launcher"
      a:exported="true">
      <intent-filter>
        <action a:name="android.intent.action.MAIN" />
        <category a:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter tools:ignore="AppLinkUrlError">
        <action a:name="android.intent.action.VIEW" />
        <action a:name="android.intent.action.SEND" />
        <action a:name="android.intent.action.SEND_MULTIPLE"/>

        <category a:name="android.intent.category.DEFAULT" />

        <data a:mimeType="audio/*" />
        <data a:mimeType="video/*" />
        <data a:mimeType="text/plain" />
      </intent-filter>
    </activity>
  </application>
</manifest>