<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.martinmimigames.littlemusicplayer"
  android:versionCode="3"
  android:versionName="2.1">

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <application
    android:icon="@drawable/ic_launcher"
    android:label="Little Music Player"
    android:resizeableActivity="true"
    android:restoreAnyVersion="true"
    android:theme="@style/app_theme">

    <activity
      android:name=".MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <service
      android:name=".Service"
      android:exported="false" />

    <activity
      android:name=".ServiceControl"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />

        <data android:mimeType="audio/*" />
        <data android:mimeType="video/*" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />

        <data
          android:mimeType="audio/*"
          android:scheme="content" />
        <data
          android:mimeType="video/*"
          android:scheme="content" />
      </intent-filter>
    </activity>
  </application>
</manifest>